.cards {
    width: 95%;
    background-color: #fff;
    padding: 4vh;
    display: flex;
    flex-direction: column;
    
    
    .cabecalho {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #f9f4f4;
        padding: 5px 10px;
        align-items: center;
        margin-top: 40px;
        button{
            border: none;
            height: 30px;
            font: 600 16px arial;
            
            background-color: #f9f4f4;


        }
        h1 {
            font: 900 20px Roboto;
        }
    }
    
   
    .contener {
        overflow: hidden;
        transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out;
        height: 100vh auto;
        opacity: 0;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        &.show {
            
            opacity: 1;
        }

        &.hide {
            height: 0;
            opacity: 0;
        }

        .cont1{
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 100%;


            .inpute{
                display: flex;
                flex-direction: column;
                gap: 5px;
                width: 95%;
                h1{
                    font: 900 16px roboto;
                }
                input{
                    font: 900 16px roboto;
                    padding: 2px 10px;
                }

            }
        }

        .cont2{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 100%;
            height: 100vh auto;
            
          
            .inpute{
                display: flex;
                flex-direction: column;
                gap: 5px;
                width: 29%;
                
                h1{
                    font: 900 16px roboto;
                }
                input{
                    font: 900 16px roboto;
                    padding: 2px 10px;
                }

            }
        }
        
        .cont3{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 100%;
        

            .inpute{
                display: flex;
                flex-direction: column;
                gap: 5px;
                width: 45%;
                
                h1{
                    font: 900 16px roboto;
                }
                input{
                    font: 900 16px roboto;
                    padding: 2px 10px;
                }

            }

            .inpute2{
                display: flex;
                flex-direction: column;
                gap: 5px;
                width: 25%;
                
                
                h1{
                    font: 900 16px roboto;
                }
                input{
                    font: 900 16px roboto;
                    padding: 2px 10px;
                }

            }
            
            .inpute1{
                display: flex;
                flex-direction: column;
                gap: 5px;
                width: 65%;
                
                h1{
                    font: 900 16px roboto;
                }
                input{
                    font: 900 16px roboto;
                    padding: 2px 10px;
                }

            }
         
        }
        
        .cont4{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            
            width: 100%;


            .inpute{
                display: flex;
                flex-direction: column;
                gap: 5px;
                width: 25%;
                
                h1{
                    font: 900 16px roboto;
                }
                input{
                    font: 900 16px roboto;
                    padding: 2px 10px;
                }

            }

            .inpute1{
                display: flex;
                flex-direction: column;
                gap: 5px;
                width: 5%;
                
                h1{
                    font: 900 16px roboto;
                }
                input{
                    font: 900 16px roboto;
                    padding: 2px 10px;
                }

            }

      
        }
    }


}
