.react-calendar {
    padding: 10px;
    
}

  .react-calendar__tile--active {
    background-color: #0059ff;
    color: white;
  }

  button {
    border: none;
    height: 40px;
    font: 600 16px arial;
    padding: 10px;
    background-color: #ffffff;
  }

 

  * {
    text-decoration: none;
  }
