.inserirpacotes{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh ;

    .protecao{
        display: flex;
        flex-direction: row;
        width: 20%;
        height: 100vh;
        background-color: #F9F4F4;
        gap: 30px;
        .t{
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding-top: 40px;
            
            .text{
                display: flex;
                flex-direction: column;
                gap: 5px;
                h1{
                    font: 400 16px Inter;
                }
                h2{
                    padding-left: 20px;
                    padding-right: 20px;
                    font: 400 16px Inter;
                }
            }
        }
    }
   
    .direita{
        display: flex;
        flex-direction: column;
        width: 190%;
        height: 100vh;
        background-color: #FFFFFF;
        padding: 50px 30px;
        gap: 20px;
        
        h1{
            padding: 5px 20px;
            background-color: #08b4ab67;
            color: #03857F;
            font: 600 20px Inter;
            width: 10%;
            display: flex;
            align-items: center;
            justify-content: center;
           border-bottom: 4px solid #03857F;
        }

        p{
            background-color: #08b4ab31;
            color: #016A65;
            padding: 7px 30px;
            border-radius: 7px;
            width: 60%;
        }

        button{
            background-color: #08B4AC;
            width: 12%;
            border-radius: 7px;
            color: #FFFFFF;
            font: 300 16px Inter;
        }
        
    }
}