.landpage{
display: flex;
flex-direction: column;
align-items: center;
height: 100vh;
width: 100%;


    .banner{
        width: 100%;
        height: 680px;
        background-size: cover;
        .protecao{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            padding-left: 10%;
            align-items: center;
            height: 50%;

            .car{
                display: flex;
                flex-direction: column;
                background-color: #fff;
              
                } 
        }
    }
    .cabecalho{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: #03989F;
        padding: 20px 0px;
        width: 100%;

        img{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 125px;
            width: 145px;
            border-radius: 25px;

        }

        h1{
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            font: 400 26px inter;
        }

       
    }


}