@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

        .landpage{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 100%;


    .banner{
        width: 100%;
        height: 60vh;
        background-size: cover;
        display: flex;
        align-items: center;
        
        .protecao{
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 50%;
            margin-left: 20%;
        

            .car{
                display: flex;
                flex-direction: column;
                background-color: #ffffffcc;
                border-radius: 19px;
                padding: 30px 60px 30px 60px;
                gap: 10px;
                align-items: center ;
                justify-content: center;
                

                     .agendamento{
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        padding: 13px;
                        border-radius: 25px;
                        width: 100%;
                        height: 40px;
                        border: 1px solid #00000025;
                        color: #fff;
                        background-color: #4ab0cf;
                        margin-top: 10px;
                            img {
                                width: 15px;
                                height: 17px;
                            }
                    }

                h1{
                    width: 200px;
                    color: #1EAFED;
                    font-family: "Raleway", sans-serif;
                    font-optical-sizing: auto;
                    font-weight: 600;
                    font-style: normal;
                    font-size: 40px;


                    span{
                        
                            font-family: "Lilita One", sans-serif;
                            font-weight: 500;
                            font-style: normal;
                            font-size: 50px;
                            color: #27C1C6;
                          
                    }
                    
                }

                } 
        }
        
    }
    .cabecalho{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: #03989F;
        padding: 20px 0px;
        width: 100%;

        img{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 125px;
            width: 145px;
            border-radius: 25px;

        }

        .links{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            background-color: #03989F;
          
            align-items: center;
            width: 80%;
            
            

            a{
                font: 400 24px roboto;
                color: #fff;
                text-decoration: none;
              
            }
            & .button {
                font: 400 24px roboto;
                color: #fff;
                text-decoration: none;
                border: none;
                background: transparent;
            }

            #oloco{
                color: #03989F; 
                padding: 5px 10px;
                border: 3px solid transparent;
                border-radius: 2px;
                font: 400 24px roboto;
                background-color: #fff;
                transition: .3s;
            }

            #oloco:hover{
                transform: scale(1.1);
                background-color: #27C1C6;
                color: #fff;
                border: 3px solid #fff;
            }

            #oloco:active{
                background-color: #fff;
                color: #27C1C6;
                border: none;
            }
        }
       
    }
    .conteudoInformativos{
        padding: 20px;
        gap: 10px;     
        display:flex ;
        flex-direction: column;
        align-items: center;

        h1{
            font: 500 40px Itim;
            color: #03989F;
            
        }

        .card1{
            width: 100%;
            display: flex;
            justify-content: center;

        

            img{
                width: 800px;
            }
        }
        .card2{
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: center;
            width: 100%;
            img{
                width: 600px;
            }
        }
    }

    .sobre {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 50px;

        .tex {
            padding: 80px;
            border-radius: 25px;
            border: 2px solid #03989F;
            display: flex;
            border-radius: 80px;
            flex-direction: column;
            margin: 50px 0px;
          
            gap: 20px;
                
            p{
                width: 50vh;
            }    

            button {
                width: 120px;
                padding: 10px 20px;
                border: 1px solid #03989F;
                background-color: transparent;
                border-radius: 5px;
                font: 600 12px arial;
                color: #03989F;
            }
                    
        }


        img{
            width: 27vw;
            height: 26vw;
            border-radius: 50vw;
            border-color: transparent;
        }
    }


    .especialidades{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px 0px;
        width: 100%;
        background-color: #03989F;

        h1{
            font: 500 30px roboto;
            color: #FFF;
            margin: 40px 0px;
        }

        .quatro{
            display: flex;
            flex-direction: row;
            

            img{
                width: 250px;
                cursor: pointer;
            }
        }

        .tres{
            display: flex;
            flex-direction: row;
            margin: 30px 0px ;

            img{
                width: 250px;
                cursor: pointer;
            }
        }
    }

    .popup-background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5); 
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999;
    }
    
    .popup {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 55%;
        height: auto;
        border-radius: 20px;
        background-color: white;
        box-shadow: 3px 3px 5px gray;
        padding: 20px 20px 20px 0px;

        img{
            width: 55vh;
        }
    }
    
    .infos {
        display: flex;
        flex-direction: column;
        width: 40%;
        gap: 5px;
    
        h1 {
            background-color: #03979f80;
            padding: 20px;
            border-radius: 20px 20px 20px 0px;
            color: #fff;
            font: 300 50px roboto;
        }
    
        .text {
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 20px;
            
            button{
                margin-top: 30px;
            }
    
            p {
                font: 400 20px roboto;
            }
    
            button {
                align-self: self-start;
                padding: 5px 10px;
                background-color: #03979f80;
                border-radius: 5px;
                border: 2px solid transparent;
                font: 400 20px roboto;
                color: #000;
                cursor: pointer;
            }
        }
    }
    

    .rodape{
        display: flex;
        flex-direction: row;
        width: 100%;
        background-color: #03989F;
        justify-content: space-around;  
        padding: 60px 0px;
        height: 40%;
        
        .um{
            display: flex;
            flex-direction: column;
            gap: 10px;

            #logo{
                width: 280px;
                
            }

            .redes {
                display: flex ;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;

                #a{
                    width: 40px;
                    border-radius: 10px;
                    background-color: #F9F4F4;
                    cursor: pointer;
                }
                #a:hover{
                    transform: scale(1.1);
                    background-color: rgb(0, 217, 255);
                }
                #a:active{
                    transform: scale(1.0);
                    background-color: #F9F4F4;
                }
                #b{
                    width: 40px;
                    border-radius: 10px;
                    cursor: pointer;
                }
                #b:hover{
                    transform: scale(1.1);
                    background-color: rgb(0, 217, 255);
                }
                #b:active{
                    transform: scale(1.0);
                    background-color: #F9F4F4;
                }
                #c{
                    width: 40px;
                    border-radius: 10px;
                    cursor: pointer;
                }
                #c:hover{
                    transform: scale(1.1);
                    background-color: rgb(0, 217, 255);
                }
                #c:active{
                    transform: scale(1.0);
                    background-color: #F9F4F4;
                }
            }
        }

        .dois{
            display: flex;
            flex-direction: column;
            margin-left: -5px;

            h1{
               
                color: #fff;
                font: 800 25px Inter;
            }
        }

        .tres{
            display: flex;
            flex-direction: column;
            gap: 20px;

            h1{
                color: #fff;
            }

            .links{
                display: flex;
                flex-direction: column;
                gap: 10px;

                a{
                    font: 400 24px roboto;
                    color: #fff;
                    text-decoration: none;
                }
                
            }
        }

        .quatro{
            display: flex;
            flex-direction: column;
            gap: 50px;

            h1{
                font: 400 30px roboto;
                color: #fff;
            }
        }
    }

}