@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.bbb {
    width: 50vw;
    height: 250px;
    position: fixed;
    left: 25vw;
    top: 33vh;

    .btn-x {
        position: absolute;
        z-index: 2;
        top: 10px;
        right: 15px;
        border: none;
        width: 15px;
        height: 15px;
        border-radius: 3px;
        background-color: #ee4343;
        color: #fff;
        font: 800 8px arial;
    }

}

.landpage{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 100%;
        overflow-x: hidden;
    .rodape{
        display: flex;
        flex-direction: row;
        width: 100%;
        background-color: #03989F;
        justify-content: space-around;
        padding: 60px 0px;
        height: 40%;
        
        .um{
            display: flex;
            flex-direction: column;
            gap: 10px;

            #logo{
                width: 300px;
                
            }

            .redes {
                display: flex ;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;

                #a{
                    width: 40px;
                    border-radius: 10px;
                    background-color: #F9F4F4;
                    cursor: pointer;
                }
                #a:hover{
                    transform: scale(1.1);
                    background-color: rgb(0, 217, 255);
                }
                #a:active{
                    transform: scale(1.0);
                    background-color: #F9F4F4;
                }
                #b{
                    width: 40px;
                    border-radius: 10px;
                    cursor: pointer;
                }
                #b:hover{
                    transform: scale(1.1);
                    background-color: rgb(0, 217, 255);
                }
                #b:active{
                    transform: scale(1.0);
                    background-color: #F9F4F4;
                }
                #c{
                    width: 40px;
                    border-radius: 10px;
                    cursor: pointer;
                }
                #c:hover{
                    transform: scale(1.1);
                    background-color: rgb(0, 217, 255);
                }
                #c:active{
                    transform: scale(1.0);
                    background-color: #F9F4F4;
                }
            }
        }

        .dois{
            display: flex;
            flex-direction: column;
            margin-left: -20px;

            h1{
               
                color: #fff;
            }
        }

        .tres{
            display: flex;
            flex-direction: column;
            gap: 20px;

            h1{
                color: #fff;
            }

            .links{
                display: flex;
                flex-direction: column;
                gap: 10px;

                a{
                    font: 400 24px roboto;
                    color: #fff;
                    text-decoration: none;
                }
            }
        }

        .quatro{
            display: flex;
            flex-direction: column;
            gap: 50px;

            h1{
                font: 400 30px roboto;
                color: #fff;
            }
        }
    }

    .banner{
        width: 100%;
        height: 60vh;
        background-size: cover;
        display: flex;
        align-items: center;
        
        .protecao{
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 50%;
            margin-left: 20%;
        

            .car{
                display: flex;
                flex-direction: column;
                background-color: #ffffffcc;
                border-radius: 19px;
                padding: 30px 60px 30px 60px;
                gap: 10px;
                align-items: center ;
                justify-content: center;
                

                     .agendamento{
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        padding: 13px;
                        border-radius: 25px;
                        width: 100%;
                        height: 40px;
                        border: 1px solid #00000025;
                        color: #fff;
                        background-color: #4ab0cf;
                        margin-top: 10px;
                            img {
                                width: 15px;
                                height: 17px;
                            }
                    }

                h1{
                    width: 200px;
                    color: #1EAFED;
                    font-family: "Raleway", sans-serif;
                    font-optical-sizing: auto;
                    font-weight: 600;
                    font-style: normal;
                    font-size: 40px;


                    span{
                        
                            font-family: "Lilita One", sans-serif;
                            font-weight: 500;
                            font-style: normal;
                            font-size: 50px;
                            color: #27C1C6;
                          
                    }
                    
                }

                } 
        }
    }
    .cabecalho{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: #03989F;
        padding: 20px 0px;
        width: 100%;

        img{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 125px;
            width: 145px;
            border-radius: 25px;

        }

        h1{
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            font: 400 26px inter;
        }

       
    }
    .conteudoInformativos{  
        display:flex ;
        flex-direction: column;
        align-items: center;
        .card2{
            display: flex;
            flex-direction: row;

            .img1 {
                width: 50%;
            
            }
            .img2 {
                width: 50%;
            }

        }
        .card1 {
            background-color: #ffffff;
        }
        .card2 {
            background-color: #ffffff;
        }
    }
        .sobre {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 50px;
            background-color: #ffffff;

            .tex {
                padding: 80px;
                border-radius: 25px;
                border: 2px solid #03989F;
                display: flex;
                border-radius: 80px;
                flex-direction: column;
                margin: 50px 0px;
                        
                p{
                    width: 50vh;
                }    

                button {
                    width: 120px;
                    padding: 10px 20px;
                    border: 1px solid #03989F;
                    background-color: transparent;
                    border-radius: 5px;
                    font: 600 12px arial;
                    color: #03989F;
                }
                    
            }

            img{
                width: 27vw;
                height: 26vw;
                border-radius: 50vw;
                border-color: transparent;
            }
        }

        .fotos {
            width: 100%;
            background-color: #03989F;
            display: flex;
            flex-direction: column;

            .titulo {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                height: 150px;
                background-color: #03989F;
                color: #ffffff;
                flex-direction: row;

                hr {
                    width: 40%;
                }

               
            }

            .row-1 {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 50px;
            } 

            .row-2 {
                display: flex;
                align-items: center;
                padding: 50px;
                justify-content: center;
            

            }


        }

}